In [1]:
import os
import pandas as pd
filepath = r'E:\Me\Project\INeuron\creditCardDefaulters\creditCardDefaulters\code\creditCardDefaulters\Training_Batch_Files'
columns = [
'LIMIT_BAL','SEX','EDUCATION','MARRIAGE','AGE',
'PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6',
'BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4',
'BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3',
'PAY_AMT4','PAY_AMT5','PAY_AMT6','default payment next month']

df = pd.DataFrame(columns=columns)

df = pd.DataFrame()
for input_file in os.listdir(filepath):
    if input_file.endswith('csv'):
        temp_df = pd.read_csv(os.path.join(filepath,  input_file))
        df = pd.concat([df, temp_df])

df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [107]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [108]:
df.SEX.unique()

array([2, 1], dtype=int64)

In [2]:
df['SEX_MALE'] = df['SEX'].map(lambda x: 1 if x== 1 else 0)
df.drop('SEX', inplace=True, axis = 1)

In [110]:
df.EDUCATION.value_counts()

2    13877
1    12310
3     4627
5       93
6       62
4       62
Name: EDUCATION, dtype: int64

In [111]:
df['default payment next month'].value_counts()

0    24429
1     6602
Name: default payment next month, dtype: int64

In [3]:
from logger import App_Logger

In [10]:
from preprocessing import Preprocessor

cat_columns_to_encode = ['EDUCATION', 'MARRIAGE']
processing_log_file =  open('preprocessing_log.log', 'a+')
pre_obj = Preprocessor(processing_log_file, App_Logger())

In [5]:
numerical_columns_to_scale = ['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']

In [7]:
scaled_numeric_df = pre_obj.scale_numerical_columns(df, numerical_columns_to_scale)
#scaled_numeric_df.head()

In [11]:
df_dummies = pre_obj.encode_categorical_columns(df, cat_columns_to_encode)
df_dummies.head()

['EDUCATION', 'MARRIAGE']
   EDUCATION  MARRIAGE
0          2         1
1          2         2
2          2         2
3          2         1
4          2         1

   EDUCATION  MARRIAGE
0          2         1
1          2         2
2          2         2
3          2         1
4          2         1

In [121]:
df = pd.concat([scaled_numeric_df, df_dummies], axis=1)
df.drop(cat_columns_to_encode, axis=1, inplace=True)
df.head()

ValueError: Shape of passed values is (61061, 50), indices imply (31031, 50)

In [12]:
df_dummies.shape

(31031, 2)

In [54]:
df.columns

Index(['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month',
       'SEX_MALE', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month',
       'SEX_MALE', 'EDUCATION_2', 'EDUCATION_3', 'EDUCATION_4', 'EDUCATION_5',
       'EDUCATION_6', 'MARRIAGE_1', 'MARRIAGE_2', 'MARRIAGE_3'],
      dtype='object')

In [ ]:
from MyImplementation.DataPreparation import scale_numerical_columns

scaler_obj = scale_numerical_columns()

In [55]:
df.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,default payment next month,SEX_MALE,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
0,20000,24,2,2,-1,-1,-2,-2,3913,3102,...,1,0,1,0,0,0,0,1,0,0
1,120000,26,-1,2,0,0,0,2,2682,1725,...,1,0,1,0,0,0,0,0,1,0
2,90000,34,0,0,0,0,0,0,29239,14027,...,0,0,1,0,0,0,0,0,1,0
3,50000,37,0,0,0,0,0,0,46990,48233,...,0,0,1,0,0,0,0,1,0,0
4,50000,57,-1,0,-1,0,0,0,8617,5670,...,0,1,1,0,0,0,0,1,0,0

In [56]:
df.columns

Index(['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month',
       'SEX_MALE', 'LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month',
       'SEX_MALE', 'EDUCATION_2', 'EDUCATION_3', 'EDUCATION_4', 'EDUCATION_5',
       'EDUCATION_6', 'MARRIAGE_1', 'MARRIAGE_2', 'MARRIAGE_3'],
      dtype='object')

In [57]:
x = df.drop('default payment next month', axis=1)
y = df['default payment next month']

In [14]:

class Preprocessor2:

    def __init__(self, file_object, logger_object):
        self.file_object = file_object
        self.logger_object = logger_object
    def encode_catagorical_columns(self, data, columns_to_encode):
        self.df_dummies = pd.get_dummies(data.loc[:, columns_to_encode], drop_first=True)
        return self.df_dummies

In [15]:
ob = Preprocessor2(processing_log_file, App_Logger())
df_dummies = ob.encode_catagorical_columns(df, cat_columns_to_encode)
df_dummies.head()

   EDUCATION  MARRIAGE
0          2         1
1          2         2
2          2         2
3          2         1
4          2         1

In [16]:
def encode_catagorical_columns(data, columns_to_encode):
        df_dummies = pd.get_dummies(data.loc[:, columns_to_encode], drop_first=True)
        return df_dummies

encode_catagorical_columns(df, cat_columns_to_encode).head()

NameError: name 'self' is not defined